.navbar-container {
  background-color: rgb(29, 29, 29);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
  padding: 0.75em;
}

.navbar-logo-box {
  width: 4em;
}

.logo {
  width: 100%;
  cursor: pointer;
}

.navbar-menu-list {
  list-style: none;
  display: flex;
}

.menu-item {
  margin-left: 3em;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item:hover {
  color: #cfa74e;
}

.navbar-socials-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link {
  text-decoration: none;
  color: white;
  height: 2em;
  width: 2em;
}
